{% extends 'base_admin.html.twig' %}

{% block title %}{{ languageCourse.label }}{% endblock %}

{% block main %}


<h1>{{ languageCourse.label }}</h1>

<div class="text-start">
  <p>Description: {{ languageCourse.description }}</p>
  <p>Created at: {{ languageCourse.createdAt ? languageCourse.createdAt|date('Y-m-d H:i:s') }}</p>
  <p>Updated at: {{ languageCourse.updatedAt ? languageCourse.updatedAt|date('Y-m-d H:i:s') }}</p>
  <div class="d-flex justify-content-start">
    <a class="btn btn-outline-info me-3" href="{{ path('admin_languages') }}">Back to list</a>
    <a class="btn btn-outline-primary"
      href="{{ path('app_admin_language_course_edit', { 'id': languageCourse.id }) }}">Edit</a>
  </div>
</div>

{% endblock %}