{% extends 'base.html.twig' %}

{% block title %}{{ app.user.username }} Profile{% endblock %}




{% block main %}

<h1>{{ app.user.username }} Profile</h1>
<p>Email: {{ app.user.email }}</p>
<p>XP : {{ app.user.xp }}</p>
<p>Language : {{ app.user.language.label }}</p>
<p>Language Courses :
    {% for userLanguageCourse in app.user.userLanguageCourses %}
    {{ userLanguageCourse.languageCourse.label }} (Progress: {{ userLanguageCourse.progress }}%) {% if not loop.last %},
    {% endif %}
    {% else %}
    No language courses enrolled yet.
    {% endfor %}
</p>

{# <p>Points : {{ app.user.points }}</p>
<p>Level : {{ app.user.level }}</p>
<p>Badges :
    {% for badge in app.user.badges %}
    {{ badge.name }}{% if not loop.last %}, {% endif %}
    {% else %}
    No badges earned yet.
    {% endfor %}
</p> #}

{% endblock %}