{% extends 'base.html.twig' %}

{% block title %}{{ app.user.username }} Profile{% endblock %}




{% block main %}
<h1>{{ app.user.username }} Profile</h1>
<p>Email: {{ app.user.email }}</p>
<p>XP : {{ app.user.xp }}</p>
<p>Language : {{ app.user.language.label }}</p>
<p>Language Courses :
    {# {% for userLanguageCourse in app.user.userLanguageCourses %}
    {{ userLanguageCourse.languageCourse.label }} (Progress: {{ userLanguageCourse.progress }}%) {% if not loop.last
    %},
    {% endif %}
    {% else %}
    No language courses enrolled yet.
    {% endfor %} #}
</p>
</div>
<div class="d-flex justify-content-center">
    <a class="btn-lingo btn-lingo--green me-3" href="{{ path('home') }}">Home</a>
    <a class="btn-lingo btn-lingo--green me-3"
        href="{{ path('app_user_profile_edit', { 'id': app.user.id }) }}">Edit</a>
    <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{app.user.id}}"
        class="btn btn-outline-danger">Delete</button>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop{{app.user.id}}" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Deletion of
                    your account {{ app.user.username }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your account {{ app.user.username }} ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-lingo" data-bs-dismiss="modal">Close</button>
                <a href="{{ path('app_user_profile_delete', {'id': app.user.id}) }}" class="btn-lingo">Delete</a>
            </div>
        </div>
    </div>



    {# <p>Points : {{ app.user.points }}</p>
    <p>Level : {{ app.user.level }}</p>
    <p>Badges :
        {% for badge in app.user.badges %}
        {{ badge.name }}{% if not loop.last %}, {% endif %}
        {% else %}
        No badges earned yet.
        {% endfor %}
    </p> #}
</div>
{% endblock %}