{% extends "base_admin.html.twig" %}

{% block title %}Quiz creation{% endblock %}

{% block main %}
<h1 class="mb-4">Create a quiz</h1>

{{ form_start(form) }}
{{ form_row(form.label) }}
{{ form_row(form.description) }}
{{ form_row(form.languageCourse) }}
{# {{ form_row(form.createdAt) }}
{{ form_row(form.updatedAt) }}
{{ form_row(form.xpReward) }} #}



<div class="mb-3">
  <h3>Questions</h3>
  <ul class="questions list-unstyled"
    data-index="{{ form.questions|length > 0 ? form.questions|last.vars.name + 1 : 0 }}"
    data-prototype="{{ form_widget(form.questions.vars.prototype)|e('html_attr') }}">
    {% for question in form.questions %}
    <li>{{ form_row(question.instruction) }}</li>
    {% endfor %}
  </ul>

  <button type="button" class="add_item_link" data-collection-holder-class="questions">Add a question</button>
  <button type="button" class="remove_item_link" data-collection-holder-class="questions">Remove a question</button>
</div>

{{ form_end(form) }}

{% endblock %}