{% extends 'base.html.twig' %}

{% block title %}{{ languageCourse.label }}{% endblock %}

{% block main %}

    <div class="container">
        <section class="section-white">
            <h1 class="text-center">{{ languageCourse.label }}</h1>

            <div class="d-flex justify-content-center">
                <img class="language-desc-img" src="{{ asset(languageCourse.language.flagPath) }}" alt="flag">
            </div>
        </section>
    </div>
    <section class="section-green">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 d-flex justify-content-center">
                    <p class="m-0">{{ languageCourse.description }}</p>
                </div>

                <div class="col-lg-6">
                    <div class="main-img">
                        {% set imgs = [
                            'images/img_standard/1.png',
                            'images/img_standard/2.png',
                            'images/img_standard/3.png',
                            'images/img_standard/4.png',
                            'images/img_standard/5.png',
                            'images/img_standard/6.png',
                            'images/img_standard/7.png',
                            'images/img_standard/8.png',
                            'images/img_standard/9.png',
                            'images/img_standard/10.png',
                            'images/img_standard/11.png',
                            'images/img_standard/12.png'
                        ] %}
                        {% set randomImage = random(imgs) %}
                        <img src="{{ asset(randomImage) }}" alt="go" class="img-fluid img-shadow">
                    </div>
                </div>

                <div class="col-lg-12 text-center mt-5">
                    <a class="btn-lingo btn-lingo--white"
                       href="{{ path('language_course_missions', {'id': languageCourse.id}) }}">
                        See {{ languageCourse.label }} missions
                    </a>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <section class="section-white">

        </section>
    </div>








{% endblock %}
