{% extends 'base.html.twig' %}

{% block title %}{{ languageCourse.label }}{% endblock %}

{% block main %}

<h1>{{ languageCourse.label }}</h1>

<p>{{ languageCourse.description }}</p>

<a href="{{ path('language_course_missions', {'id': languageCourse.id})}}">See {{ languageCourse.label }} missions</a>

{% endblock %}