{% extends 'base_admin.html.twig' %}

{% block title %}Language Management{% endblock %}

{% block main %}
<div class="d-flex flex-column align-items-center justify-content-center min-vh-100">
    <h1 class="mb-4">Language list</h1>

    <div class="d-flex justify-content-evenly mb-4">
        <a class="btn-lingo btn-lingo--green me-3" href="{{ path('app_admin') }}">Retour à l'admin</a>
        <a class="btn-lingo btn-lingo--green" href="{{path('app_admin_language_create')}}">Create a language</a>
    </div>

    <table class="table table-hover mt-3">

        <thead>
            <tr class="text-center">
                {# <th scope="col">#</th> #}
                <th scope="col">Language label</th>
                <th scope="col">Language slug</th>
                <th scope="col">Language flag</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for language in languages %}
            <tr>

                <td scope="row">{{ language.label }}</td>
                <td scope="row">{{ language.slug }}</td>
                <td scope="row">{{ language.flagPath }}</td>
                <td class="text-center">
                    <a href="{{ path('admin_language_detail',{ 'id': language.id } )}}"
                        class="btn btn-outline-secondary me-2"><i class="bi bi-eye-fill"></i>
                    </a>
                    <a href="{{ path('admin_language_edit',{ 'id': language.id } )}}"
                        class="btn btn-outline-primary me-2"><i class="bi bi-pencil-square"></i></i>
                    </a>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#deleteBackdrop{{language.id}}"
                        class="btn btn-outline-danger"><i class="bi bi-trash3"></i>
                    </button>
                    <!-- DELETE Modal -->
                    <div class="modal fade" id="deleteBackdrop{{language.id}}" data-bs-backdrop="static"
                        data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="deleteBackdropLabel">Deletion of
                                        {{language.label}}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Souhaitez-vous vraiment supprimer {{ language.label }} ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <a href="{{ path('admin_language_delete',{'id': language.id}) }}"
                                        class="btn btn-outline-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>


            {% endfor %}

        </tbody>

    </table>
</div>
{% endblock %}