{% extends 'base_admin.html.twig' %}

{% block title %}Edit {{ language.label }}{% endblock %}

{% block main %}
<h1>Edit {{ language.label }}</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
<button type="button" data-bs-toggle="modal" data-bs-target="#editBackdrop{{language.id}}"
  class="btn btn-outline-primary">Save changes</button>
{{ form_end(form) }}
<!-- EDIT Modal -->
<div class="modal fade" id="editBackdrop{{language.id}}" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="editBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editBackdropLabel">Edition of
          {{language.label}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Souhaitez-vous vraiment modifier les informations de {{ language.label }} ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="{{ path('admin_language_edit',{'id': language.id}) }}" class="btn btn-outline-danger">Save</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}