{% extends 'base_admin.html.twig' %}

{% block title %}Edit {{ language.label }}{% endblock %}

{% block main %}
<h1>Edit {{ language.label }}</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-primary">Save changes</button>
{{ form_end(form) }}

{% endblock %}