<div id="card-{{language.id}}" class="card">
  <a href="{{ path('language_courses', {'id': language.id}) }}" class="card-link">
    <img src="{{ asset(language.flagPath) }}" class="card-img-top" alt="Drapeau {{language.label}}">
    <div class="card-overlay">
      <h3 class="language-name">{{language.label}}</h3>
    </div>
  </a>
</div>