{% extends 'base_admin.html.twig' %}

{% block title %}Users{% endblock %}

{% block main %}
<div class="d-flex flex-column align-items-center justify-content-center min-vh-100">
    <h1 class="mb-4">Users list</h1>

    <div class="d-flex justify-content-evenly mb-4">
        <a class="btn btn-outline-info me-3" href="{{ path('app_admin') }}">Retour à l'admin</a>
        <a class="btn btn-outline-info" href="{{path('app_admin_user_create')}}">Create a user</a>
    </div>

    <table class="table table-hover mt-3">

        <thead>
            <tr class="text-center">
                {# <th scope="col">#</th> #}
                <th scope="col">User name</th>
                <th scope="col">User email</th>
                <th scope="col">User role</th>
                <th scope="col">User language</th>
                <th scope="col">User xp</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td scope="row">{{ user.username }}</td>
                <td scope="row">{{ user.email}}</td>
                <td scope="row">{{ user.roles|join(', ') }}</td>
                <td scope="row">{{ user.language.label }}</td>
                <td scope="row">{{ user.xp}}</td>
                <td class="text-center">
                    <a href="{{ path('app_admin_user',{ id: user.id } )}}" class="btn btn-outline-secondary me-2"><i
                            class="bi bi-eye-fill"></i>
                    </a>
                    {# <a href="{{ path('app_admin_user_edit', { id: user.id })}}"
                        class="btn btn-outline-primary me-2"><i class="bi bi-pencil-square"></i>
                    </a> #}
                    <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{user.id}}"
                        class="btn btn-outline-danger"><i class="bi bi-trash3"></i>
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop{{user.id}}" data-bs-backdrop="static"
                        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Deletion of
                                        {{user.username}}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete {{ user.username }} ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <a href="{{ path('app_admin_user_delete',{id: user.id}) }}"
                                        class="btn btn-outline-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>


            {% endfor %}

        </tbody>

    </table>
</div>
{% endblock %}