{% extends 'base_admin.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block main %}


<h1>{{ user.username }}</h1>

<div class="text-start">
  <div class="d-flex justify-content-center mb-3">
    <img src="{{ asset(user.profilePicture) }}" alt="{{ user.username }}'s profile picture">
  </div>
  <p>Language: {{ user.language.label }}</p>
  <p>Xp points: {{ user.xp }}</p>
  <p>Email: {{ user.email }}</p>
  <p>Roles: {{ user.roles|join(', ') }}</p>
  <p>Created at: {{ user.createdAt ? user.createdAt|date('Y-m-d') }}</p>
  <p>Updated at: {{ user.updatedAt ? user.updatedAt|date('Y-m-d') }}</p>
  <div class="d-flex justify-content-start">
    <a class="btn btn-outline-info me-3" href="{{ path('admin_users') }}">Back to list</a>
    <a class="btn btn-outline-primary" href="{{ path('admin_user_edit', { 'id': user.id }) }}">Edit</a>
  </div>

  {% endblock %}